<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <h2>Agregar producto</h2>
        <input name="sku" type="text" placeholder="sku">
        <input name="id_c" type="number" placeholder="categoria_id">
        <input name="nombre" type="text" placeholder="nombre">
        <input name="activo" type="number" placeholder="precio">
        <button>agregar</button>
    </form>
    {{value}}
</body>
</html>