<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba - Top Productos</title>
</head>
<body>
    <form action="" method="POST">
        <h1>Prueba agregar carrito</h1>
        <input type="number" placeholder="usuarioId" name="ui">
        <input type="number" placeholder="productoId" name="pi">
        <input type="number" placeholder="cantidad" name="can">
        <input type="number" placeholder="precio" name="pre">
        <button>Submit</button>
    </form>
    <h2>Resultado</h2>
    {{ value }}
</body>
</html>